{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
 <h4>Competitors: {{entries}}</h4>
 <h4>Events: {{events}}</h4>
 <h4>Payment estimate via registered events: ${{payment}}</h4>
 <h4>Payment Records: ${{recorded_payments}}</h4>
</div>
</div>
<div class="row">
  <div class="col-md-12">
 <table class="table">
      <tr>
        <th>ID</th>
        <th>Payment</th>
        <th>Waiver</th>
        <th>Name</th>
        <th>Payment Method</th>
        <th>Payment Amount</th>
        <th>Memo</th>
        <th>Events</th>
      </tr>
      {% for doc in docs %}
        <tr>
        <td><a href="/competitor/{{doc['_id']}}">{{ doc['_id'] }}</a> </td>
        <td>
          {% set state = "success" %}
          {% set status = "paid" %}
          {% if doc['payment_type'] == 'unpaid' %}
          {% set state = "danger" %}
          {% set status = "unpaid" %}
          {% elif doc['payment_amount'] == '': %}
          {% set  state = "danger"  %}
          {% set status = "unpaid" %}
          {% elif doc['events']|length== 1 and int(doc['payment_amount']) != 40: %}
          {%  set state = "warning" %}
          {% set status = "mismatch" %}
          {% elif doc['events']|length == 2 and int(doc['payment_amount']) !=50: %}
          {%  set state = "warning" %}
          {% set status = "mismatch" %}
          {% elif doc['events']|length >=3 and int(doc['payment_amount']) !=60: %}
          {%  set state = "warning" %}
          {% set status = "mismatch" %}
          {% endif %}
          <span class="label label-{{ state }}">{{status}}</span>

        </td>
        <td>
          {% if doc['waiver'] == true %}
            <span class="label label-success">Yes</span>
            {%else%}
            <span class="label label-danger">No</span>
            {%endif%}

        </td>
        <td> {{ doc['name'] }} </td>
        <td> {{ doc['payment_type'] }} </td>
        <td> {{ doc['payment_amount'] }} </td>
        <td> {{ doc['payment_memo'] }} </td>
        <td>  <span class="badge  badge-light">{{ doc['events']|length }}</span></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
